/**
 * Scheme: Atelier Cave
 * Author: Bram de Haan (http://atelierbramdehaan.nl)
 */
:root {
  --color-base00: #19171c;
  --color-base01: #26232a;
  --color-base02: #585260;
  --color-base03: #655f6d;
  --color-base04: #7e7887;
  --color-base05: #8b8792;
  --color-base06: #e2dfe7;
  --color-base07: #efecf4;
  --color-base08: #be4678;
  --color-base09: #aa573c;
  --color-base0a: #a06e3b;
  --color-base0b: #2a9292;
  --color-base0c: #398bc6;
  --color-base0d: #576ddb;
  --color-base0e: #955ae7;
  --color-base0f: #bf40bf;
}
