/**
 * Scheme: Atelier Estuary
 * Author: Bram de Haan (http://atelierbramdehaan.nl)
 */
:root {
  --color-base00: #22221b;
  --color-base01: #302f27;
  --color-base02: #5f5e4e;
  --color-base03: #6c6b5a;
  --color-base04: #878573;
  --color-base05: #929181;
  --color-base06: #e7e6df;
  --color-base07: #f4f3ec;
  --color-base08: #ba6236;
  --color-base09: #ae7313;
  --color-base0a: #a5980d;
  --color-base0b: #7d9726;
  --color-base0c: #5b9d48;
  --color-base0d: #36a166;
  --color-base0e: #5f9182;
  --color-base0f: #9d6c7c;
}
