/**
 * Scheme: Atelier Forest
 * Author: Bram de Haan (http://atelierbramdehaan.nl)
 */
:root {
  --color-base00: #1b1918;
  --color-base01: #2c2421;
  --color-base02: #68615e;
  --color-base03: #766e6b;
  --color-base04: #9c9491;
  --color-base05: #a8a19f;
  --color-base06: #e6e2e0;
  --color-base07: #f1efee;
  --color-base08: #f22c40;
  --color-base09: #df5320;
  --color-base0a: #c38418;
  --color-base0b: #7b9726;
  --color-base0c: #3d97b8;
  --color-base0d: #407ee7;
  --color-base0e: #6666ea;
  --color-base0f: #c33ff3;
}
