/**
 * Scheme: Atelier Heath
 * Author: Bram de Haan (http://atelierbramdehaan.nl)
 */
:root {
  --color-base00: #1b181b;
  --color-base01: #292329;
  --color-base02: #695d69;
  --color-base03: #776977;
  --color-base04: #9e8f9e;
  --color-base05: #ab9bab;
  --color-base06: #d8cad8;
  --color-base07: #f7f3f7;
  --color-base08: #ca402b;
  --color-base09: #a65926;
  --color-base0a: #bb8a35;
  --color-base0b: #918b3b;
  --color-base0c: #159393;
  --color-base0d: #516aec;
  --color-base0e: #7b59c0;
  --color-base0f: #cc33cc;
}
