/**
 * Scheme: Atelier Lakeside
 * Author: Bram de Haan (http://atelierbramdehaan.nl)
 */
:root {
  --color-base00: #161b1d;
  --color-base01: #1f292e;
  --color-base02: #516d7b;
  --color-base03: #5a7b8c;
  --color-base04: #7195a8;
  --color-base05: #7ea2b4;
  --color-base06: #c1e4f6;
  --color-base07: #ebf8ff;
  --color-base08: #d22d72;
  --color-base09: #935c25;
  --color-base0a: #8a8a0f;
  --color-base0b: #568c3b;
  --color-base0c: #2d8f6f;
  --color-base0d: #257fad;
  --color-base0e: #6b6bb8;
  --color-base0f: #b72dd2;
}
