/**
 * Scheme: Atelier Sulphurpool
 * Author: Bram de Haan (http://atelierbramdehaan.nl)
 */
:root {
  --color-base00: #202746;
  --color-base01: #293256;
  --color-base02: #5e6687;
  --color-base03: #6b7394;
  --color-base04: #898ea4;
  --color-base05: #979db4;
  --color-base06: #dfe2f1;
  --color-base07: #f5f7ff;
  --color-base08: #c94922;
  --color-base09: #c76b29;
  --color-base0a: #c08b30;
  --color-base0b: #ac9739;
  --color-base0c: #22a2c9;
  --color-base0d: #3d8fd1;
  --color-base0e: #6679cc;
  --color-base0f: #9c637a;
}
